# PyInstaller
build/
dist/
*.spec

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Virtual environments
venv/
.venv/
env/
ENV/

# IDE
.idea/
.vscode/
/.cursor/
/.idea/
.cursor/
*.swp
*.swo

# Logs
logs/
*.log

# Environment variables
.env
.env.local

# OS
.DS_Store
Thumbs.db

/__test__.py
*.pyc 
/kit_vending_accounts.json
